body{
	background-color: #068572;
	border: 1px black dashed ;
}
.mention{
	color: white;
	margin: 0 auto;
	padding: 10px;
}
h1{
	text-align: center;
}
.mention img{
	width: 600px;
	height: 300px;
	padding-top: 50px;
	margin-bottom: 10px;
	float: left;	
}
.mention text{
	width: 200px;
	height: 300px;
	padding-top: 150px;
	margin-bottom: 10px;
	float: right;
}